<div class="container main-container">
  <h3>Tem certeza que deseja excluir o fornecedor {{ provider.nome }} ?</h3>
  <hr />

  <div class="alert alert-danger" *ngIf="errors.length > 0">
    <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
    <ul>
      <li *ngFor="let error of errors">{{ error }}</li>
    </ul>
  </div>

  <dl class="row">
    <dt class="col-sm-2">
      <label class="control-label">Nome</label>
    </dt>
    <dd class="col-sm-10">
      {{ provider.nome }}
    </dd>
    <dt class="col-sm-2">
      <label class="control-label">Documento</label>
    </dt>
    <dd class="col-sm-10">
      {{
        provider.tipoFornecedor === 1
          ? (provider.documento | cpf)
          : (provider.documento | cnpj)
      }}
    </dd>
    <dt class="col-sm-2">
      <label class="control-label">Ativo</label>
    </dt>
    <dd class="col-sm-10">
      <input
        [checked]="provider.ativo"
        class="check-box"
        disabled="disabled"
        type="checkbox"
      />
    </dd>
  </dl>
  <div class="row">
    <br />
    <iframe
      width="100%"
      height="450"
      frameborder="0"
      style="border: 0; padding-bottom: 50px"
      [src]="addressMap"
      allowfullscreen
    ></iframe>
  </div>

  <div>
    <a class="btn btn-danger" href="javascript:void(0)" (click)="deleteEvent()"
      >Excluir</a
    >&nbsp;
    <a class="btn btn-info" [routerLink]="['/fornecedores/listar-todos']"
      >Voltar</a
    >
  </div>
</div>
