<div class="container main-container">
  <h1>Lista de Fornecedores</h1>

  <p>
    <a class="btn btn-info" [routerLink]="['/fornecedores/adicionar-novo']"
      >Novo Fornecedor</a
    >
  </p>

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Nome</th>
        <th>Documento</th>
        <th>Ativo?</th>
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let provider of providers">
      <td>
        {{ provider.nome }}
      </td>
      <td>
        {{
          provider.tipoFornecedor === 1
            ? (provider.documento | cpf)
            : (provider.documento | cnpj)
        }}
      </td>
      <td>
        <input
          [checked]="provider.ativo"
          class="check-box"
          disabled="disabled"
          type="checkbox"
        />
      </td>
      <td class="text-right">
        <a
          class="btn btn-info"
          [routerLink]="['/fornecedores/detalhes', provider.id]"
        >
          <span class="fa fa-search"></span> </a
        >&nbsp;
        <a
          class="btn btn-warning"
          [routerLink]="['/fornecedores/editar', provider.id]"
        >
          <span class="fa fa-pencil-alt"></span> </a
        >&nbsp;
        <a
          class="btn btn-danger"
          [routerLink]="['/fornecedores/excluir', provider.id]"
        >
          <span class="fa fa-trash"></span>
        </a>
      </td>
    </tr>
  </table>
</div>
