<div class="container main-container">
  <h1>Lista de Produtos</h1>
  <hr />

  <p>
    <a class="btn btn-info" [routerLink]="['/produtos/adicionar-novo']"
      >Novo Produto</a
    >
  </p>

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th>Nome</th>
        <th>Fornecedor</th>
        <th>Valor</th>
        <th>Ativo?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>
          <img
            src="{{ imagens }}{{ product.imagem }}"
            style="width: 70px; height: 100px"
          />
        </td>
        <td>
          {{ product.nome }}
        </td>
        <td>
          {{ product.nomeFornecedor }}
        </td>
        <td>
          {{ product.valor | currency: "BRL" }}
        </td>
        <td>
          <input
            [checked]="product.ativo"
            class="check-box"
            disabled="disabled"
            type="checkbox"
          />
        </td>
        <td class="text-right">
          <a
            class="btn btn-warning"
            [routerLink]="['/produtos/detalhes', product.id]"
          >
            <span class="fa fa-search"></span> </a
          >&nbsp;
          <a
            class="btn btn-info"
            [routerLink]="['/produtos/editar', product.id]"
          >
            <span class="fa fa-pencil-alt"></span> </a
          >&nbsp;
          <a
            class="btn btn-danger"
            [routerLink]="['/produtos/excluir', product.id]"
          >
            <span class="fa fa-trash"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
