<div class="container main-container">
  <h1>Detalhes do {{ provider.nome }}</h1>

  <div>
    <h4>Informação somente leitura</h4>
    <hr />
    <dl class="row">
      <dt class="col-sm-2">
        <label class="control-label">Nome</label>
      </dt>
      <dd class="col-sm-10">
        {{ provider.nome }}
      </dd>
      <dt class="col-sm-2">
        <label class="control-label">Documento</label>
      </dt>
      <dd class="col-sm-10">
        {{
          provider.tipoFornecedor === 1
            ? (provider.documento | cpf)
            : (provider.documento | cnpj)
        }}
      </dd>
      <dt class="col-sm-2">
        <label class="control-label">Ativo</label>
      </dt>
      <dd class="col-sm-10">
        <input
          [checked]="provider.ativo"
          class="check-box"
          disabled="disabled"
          type="checkbox"
        />
      </dd>
    </dl>
    <div class="row">
      <br />
      <iframe
        width="100%"
        height="450"
        frameborder="0"
        style="border: 0; padding-bottom: 50px"
        [src]="addressMap"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <products-list [products]="provider.produtos"></products-list>
  <div>
    <a class="btn btn-dark" [routerLink]="['/fornecedores/editar', provider.id]"
      >Editar</a
    >&nbsp;
    <a class="btn btn-info" [routerLink]="['/fornecedores/listar-todos']"
      >Voltar</a
    >
  </div>
</div>
